.item-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: none;
	border: none;
	cursor: pointer;
	min-width: 320px;
	max-width: 480px;
	font-family: var(--text-font);
	color: var(--dark-text);
	padding: 0;
	animation-duration: 1s;
	animation-name: slidein;
}

.item-title {
	font-family: var(--list-item-font);
	font-size: 2rem;
	font-weight: bold;
	color: var(--dark-text);
}

.item-delete-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-deadline-text {
	font-style: italic;
	color: var(--dark-text);
}

@keyframes slidein {
	from {
		margin-left: 200%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}
