.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--light-text);
}

.page-main {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 1rem 0;
}

.page-add-btn {
	min-width: 320px;
	max-width: 480px;
	margin-bottom: 2rem;
}
