@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Shadows+Into+Light&display=swap&family=Catamaran:wght@300&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
:root {
	background: linear-gradient(
		115deg,
		rgba(11, 15, 31, 1) 0%,
		rgba(13, 16, 47, 1) 100%
	);

	/*colors*/
	--light-text: rgb(240, 255, 255);
	--dark-text: rgb(20, 20, 20);
	--title-text: #ff5b00;

	/*fonts*/
	--title-font: "Lobster", cursive;
	--list-item-font: "Shadows Into Light", cursive;
	--text-font: "Catamaran", sans-serif;
}
